@import url("https://fonts.googleapis.com/css2?family=Tiro+Kannada&display=swap");
/* font-family: 'Tiro Kannada', serif; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* navbar css */
.navbar {
  height: 4rem;
  width: 100%;
  padding: 2rem 5rem;
  background-color: #01175e;
  align-items: center;
  align-content: center;
  position: fixed;
  text-align: center;
}
.container-fluid {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}
.container-fluid li {
  padding: 0.5rem;
}
.container-fluid li a {
  color: white;
}
.container-fluid li a:hover {
  color: yellow;
}
.extra {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.search .form-control {
  height: 2rem;
  padding: 1rem;
  margin-top: 15px;
}
.search .btn {
  height: 2rem;
  margin-top: 15px;
}
.search .btn p {
  margin-top: -5px;
}
.search {
  display: flex;
  flex-direction: row;
}
.account {
  display: flex;
  flex-direction: row;
  padding-left: 10rem;
}
.account .btn {
  height: 2rem;
  margin-top: 15px;
}
.account .btn p {
  margin-top: -5px;
}
.btn {
  padding: 0.5rem 2rem;
  height: 3rem;
  color: #01175e;
  background-color: white;
  font-weight: 500;
}

/* .............................. */
/* css code for content of women */
.content {
  padding: 50px 4rem 20px 4rem;
}
.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.home a {
  text-decoration: none;
  color: #000000;
  padding-right: 5px;
  font-weight: 600;
}
.header-content {
  background-color: rgb(230, 231, 233);
  padding: 40px 20px 30px 20px;
}
.home p {
  padding-left: 5px;
}
.home a:hover {
  color: #edb500;
}
.content h1 {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 4rem;
  font-weight: 800;
}
.other-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.other-link a {
  text-decoration: none;
  color: #000000;
  padding: 0 20px;
  font-weight: 600;
}
.other-link a:hover {
  color: #edb500;
}
.rest-content {
  padding-top: 30px;
}
.wmenb {
  display: flex;
  flex-direction: column;
}
.wmenb img {
  height: 450px;
  width: 100%;
}
.wmenb p {
  font-size: 1.9rem;
  font-weight: 500;
  font-family: "Tiro Kannada", serif;
}
.swmenb {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.swmenb img {
  width: 100%;
  height: 250px;
  overflow-y: hidden;
}
.swmenb a {
  text-decoration: none;
  color: #000000;
  font-size: 2.5rem;
  font-family: "Tiro Kannada", serif;
  font-weight: 600;
}
.swmenb a:hover {
  color: #515151;
}
.heading {
  color: #edb500;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.must-read {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  padding: 20px 10px;
}
.must-read h2 {
  font-size: 2.2rem;
}
.must-read hr {
  border: 2px solid black;
  color: #000000;
}
.must-read a img {
  height: 100px;
  width: 100%;
}
.must-read a {
  text-decoration: none;
  color: #000000;
}
.must-read a:hover {
  color: #515151;
}
.must-read a p {
  font-size: 1.1rem;
  font-family: "Tiro Kannada", serif;
  font-weight: 600;
}
.must-read .row {
  padding-top: 20px;
}
.bigya {
  padding: 15px 5px;
}
.bigya a img {
  width: 100%;
  height: 250px;
}
/* .............................. */

/* css for footer */
.footer {
  background-color: #000000;
  padding: 20px;
  color: white;
}
.social-media {
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  justify-content: center;
}
.social-media a {
  text-decoration: none;
  color: white;
}
.social-media a :hover {
  color: #edb500;
}
.social-media p {
  padding: 0 30px;
  font-size: 25px;
}
.social-media img {
  padding: 25px 20px;
  height: 100px;
  width: auto;
  border-radius: 40px 40px;
  margin-top: -15px;
}
.quick-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.quick-menu a {
  text-decoration: none;
  color: white;
  padding: 0 25px;
}
.quick-menu a:hover {
  color: #eebc68;
}
.footer-content {
  padding: 20px 30px;
}
.fcb {
  padding: 0 20px;
}
.fcb h3 {
  font-weight: 600;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.fcb ul {
  padding-left: 0;
  line-height: 2rem;
}
.fcb li {
  list-style: none;
}
.fcb a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}
.fcb a:hover {
  color: #eebc68;
}
.fcb p {
  padding-top: 15px;
  font-size: 12px;
}
.copyright {
  width: 100%;
}
.copyright p {
  text-align: center;
  align-items: center;
  font-size: 0.9rem;
}
.fcb-company p {
  font-size: 1rem;
}